<main id="mainForm1">
    <!-- Call to Action -->
    <div class="bg-corona g-py-100">
        <div class="g-max-width-645 text-center mx-auto">

            <h1 class="g-color-white g-font-weight-600" data-i18n="covid-intake-title">Book an Appointment for COVID-19
                Vaccination</h1>
            <h2 class="g-color-white g-font-weight-600" data-i18n="covid-intake-subtitle">All eligible New Yorkers are
                able to receive a vaccine. You are NOT required to have insurance.</h2>

        </div>
    </div>
    <!-- End Call to Action -->
    <!-- Login - Heading -->
    <div class="g-max-width-645 g-pt-100 mx-auto g-mb-80">
        <h2 class="mb-4  text-center" data-i18n="covid-intake-form-name">Vaccine Qualification</h2>
        <h4 class="mb-4 text-danger text-center"><i class="fa fa-fw fa-arrow-right"></i><SPAN
                data-i18n="covid-intake-form-nyc">New York City Employees</SPAN></h4>
        <h4 class="mb-4 text-danger text-center"><i
                class="fa fa-fw fa-arrow-right"></i><SPAN>NYCHA Senior Residents</SPAN></h4>

        <h4 class="mb-4 text-danger text-center"><i class="fa fa-fw fa-arrow-right"></i><span
                data-i18n="covid-intake-form-below">Those meeting eligibility criteria below</span></h4>

        <p class="lead text-center" data-i18n="covid-intake-form-description">loading...</p>

        <p class="text-center"><a class="btn btn-sm btn-primary"
                                  onclick="window.open('https://www1.nyc.gov/site/doh/covid/covid-19-vaccine-eligibility.page', '_blank', 'location=yes,height=1024,width=768,scrollbars=yes,status=yes');"

                                  href="#" data-i18n="covid-intake-form-details">Click here to see full
            details</a>
        </p>
    </div>
    <!-- End Login - Heading -->

    <!-- Login -->
    <div class="container g-pb-30">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 g-mb-70">

                <div class="lead" style="font-size: small" data-i18n="[html]covid-intake-form-eleg">

                    <h5>Eligibility</h5>
                    <h6>The following groups are eligible to seek vaccination in accordance with the New York State
                        (NYS) Department of Health prioritization plan:</h6>
                    <ul>
                        <li>
                            Workers in ambulatory care settings not affiliated with a hospital, including primary care,
                            behavioral health, phlebotomy, physical and occupational therapy, specialty clinics, and
                            dialysis centers

                            <ul>
                                <li>Includes all workers with direct contact with patients in ambulatory settings,
                                    including licensed health care workers, receptionists, and environmental staff
                                </li>
                            </ul>
                        </li>

                        <li>Funeral workers with direct contact with infectious materials and bodily fluids</li>
                        <li>Healthcare workers at COVID-testing sites</li>
                        <li>Public health workers with direct patient care responsibilities</li>
                        <li>Home care workers and aides, hospice workers, personal care aides, and consumer-directed
                            personal care workers
                        </li>
                        <li>Teachers and education workers</li>
                        <li>First responders</li>
                        <li>Public safety workers</li>
                        <li>Public transit workers</li>
                        <li>Grocery store workers</li>
                        <li>People ages 65 and older</li>


                    </ul>
                    <h6>Note:</h6>
                    <ul>
                        <li>Bring a photo ID and your health insurance card, if you have one, to your appointment. You
                            must also bring proof of eligibility for the vaccine to your appointment. This can include
                            an employee ID card, a letter from an employer or affiliated organization, or a pay stub.
                        </li>
                    </ul>
                </div>
                <hr>
                <!-- Login Form -->
                <form class="g-mb-30" method="post" id="fmEditor">
                    {% csrf_token %}
                    <input type="hidden" name="SiteMode" value="{{ SiteMode }}"/>

                    <div class="g-mb-20">

                        <h3 class="h5 g-mb-20"><span data-i18n="covid-vaccine-qualification-i">Are you currently a healthcare worker or qualified individual in Phase 1a and 1b group?</span><i
                                class="fa fa-fw fa-asterisk text-danger"></i>
                        </h3>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="healthemp1"><input type="radio" name="q0a"
                                                           data-eligible_check_yes="1" value="Yes"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                           id="healthemp1" required>
                                <span data-i18n="somos-yes">Yes</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="healthemp0"><input type="radio" name="q0a"
                                                           data-eligible_check_no="1" value="No"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                           id="healthemp0" required>
                                <span data-i18n="somos-no">No</span></label>
                        </label>
<hr>
                        <h3 class="h5  g-mb-20"><span {# data-i18n="covid-vaccine-qualification-ii" #}>Are you one of the following?<i
                                class="fa fa-fw fa-asterisk text-danger"></i>
                                <ul><li>An employee of the City of New York (excluding FDNY) and your role is covered by phases 1a and 1b?</li>
                                    <li>NYCHA Senior Residents</li>
                                    <li>Those meeting eligibility criteria above</li>
                                </ul></span>
                        </h3>
                        <h4 class="h6 text-muted g-mb-20"><span>Answer must be yes to make an appointment</span></h4>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="cityemp1"><input type="radio" name="q0b"
                                                         data-eligible_check_yes="1" value="Yes"
                                                         class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                         id="cityemp1" required>
                                <span data-i18n="somos-yes">Yes</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="cityemp0"><input type="radio" name="q0b"
                                                         data-eligible_check_no="1" value="No"
                                                         class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                         id="cityemp0" required>
                                <span data-i18n="somos-no">No</span></label>
                        </label>
<hr>
                        <h3 class="h5  g-mb-20">Do you have underlying conditions as listed in the eligibility criteria
                            above?<i class="fa fa-fw fa-asterisk text-danger"></i>
                        </h3>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="underlying1"><input type="radio" name="q3a"
                                                            data-eligible_check_yes="1" value="Yes"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                            id="underlying1" required>
                                <span data-i18n="somos-yes">Yes</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="underlying0"><input type="radio" name="q3a"
                                                            data-eligible_check_no="1" value="No"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                            id="underlying0" required>
                                <span data-i18n="somos-no">No</span></label>
                        </label>

<hr>
                        <h3 class="h5  g-mb-20">If yes, Do you certify that you have one or more of the medical
                            conditions listed above as documented or diagnosed by your health care provider and that, to
                            the best of your knowledge, the information upon which this certification is based is true
                            and accurate, under penalty of law?<i
                                    class="fa fa-fw fa-asterisk text-danger"></i>
                        </h3>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="certify1"><input type="radio" name="q4a"
                                                            data-eligible_check_yes="1" value="Yes"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                            id="certify1" required>
                                <span data-i18n="somos-yes">Yes</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="certify0"><input type="radio" name="q4a"
                                                            data-eligible_check_no="1" value="No"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                            id="certify0" required>
                                <span data-i18n="somos-no">No</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="certify2"><input type="radio" name="q4a"
                                                            data-eligible_check_no="1" value="NA"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                            id="certify2" required>
                                <span>Not Applicable</span></label>
                        </label>

                    </div>

<hr>
                    <button class="btn btn-block btn-success g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15"
                            type="submit"><i class="fa fa-fw fa-check-circle-o"></i><span
                            data-i18n="somos-submit">Submit</span></button>
                </form>
                <!-- End Login Form -->


            </div>

        </div>
    </div>
    <!-- Login -->
    <script type="text/javascript">
        function fmVaccineQualificationOnSubmit() {
            if (document.getElementById('certify0').checked === true) {
                alert("Please certify that you have medical condition(s) listed, or select Not Applicable, before making an appointment");
                return false;
            }
            if (document.getElementById('cityemp1').checked === false) {
                alert("We apologize, but we are unable to process your request at this time. This website is currently for NYC employees or specific 1a or 1b category workers. Please check back at a later time.");
                return false;
            } else {
                $('#mainForm1').hide();
                $("html, body").animate({scrollTop: 0});
                $('#mainForm2').show();
            }

            return false;
            let fmdata = $('#fmEditor').serialize();
            console.log(fmdata)
            let url = '/p/covid/?action=saveQuestionnaire';
            $.post(url, fmdata, function (res) {
                if (res.ResultCode == 0) {
                    window.location.href = '/p/sites/?qid=' + res.qid;
                } else {
                    alert(res.Error);
                }
            }, 'json');
        }

    </script>

</main>
