{% extends '../shared/navigation.html' %}
{% load static %}

{% block css %}
    <title>Sign up | SOMOS</title>
    <style type="text/css">
        td {font-weight: bold;}
    </style>
{% endblock %}

{% block body %}
 <main>
        <!-- Breadcrumbs & Search -->

        <div class="bg-corona g-py-100">
            <div class="g-max-width-645 text-center mx-auto">

                <h1 class="g-color-white g-font-weight-600">{{ PageTitle }}</h1>

            </div>
        </div>

        <div class="container g-pb-30" style="margin-top:10px">
            <form id="fmEditor">
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-7 g-mb-30">
                        {% csrf_token %}
                    {% include '../shared/patient_info.html' %}

                        <div style="display: flex; justify-content: center">
                            <button class="btn btn-xl btn-success" onclick="return gotoConfirm(this)">
                                <i class="fa fa-check-circle-o text-white"></i> {{ PageButtonSubmit }}
                            </button>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-5 g-mb-70">

                        <h4 class="h6 g-font-weight-700 g-mb-20">Please download VIPHealth to manage your COVID-19 vaccination appointment.</h4>

                        <h4 class="h6 g-font-weight-700 g-mb-20">To access VIPHealth app, please scan QR code below, or search "VIPHealth" in App Store/ Google Play.</h4>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <img class="down_app_qrcode" src='/p/static/images/app.png' style="margin-left:0px; width:150px;" />
                            </div>
                        </div>

                        <a target="_blank" href="https://mobile.mdland.com/ezhealthapiservice/page/download.htm" class="btn btn-info btn-lg btn-block down_app_button">Download VIPHEALTH</a>

                    </div>

                </div>


            </form>
            <div id="divDialogControl"></div>
        </div>
 </main>

{% endblock %}


{% block js %}
    <script type="text/javascript">
     function gotoConfirm(btn) {
            if (!validateForm()) {
                return false;
            }
            MG.Modal.showLoading();
            var fmdata = $('#fmEditor').serialize();
            var mode = $(btn).text();
            $.post('/p/signup/?action=SaveSignUp', fmdata, function (res) {
                MG.Modal.hideLoading();
                if (res.HasError) {
                    MG.Global.AlertMessage(res.Errors, 'Confirm',
                         function () {

                        });
                } else{
                    // window.location.href = res.GotoUrl;
                    // show qrcode when finished
                    if(mode && mode.trim() == "Update")
                        $("#mg_modal_appdown_update").modal("show");
                    else
                        $("#mg_modal_appdown_create").modal("show");
                }

            }, 'json');
            return false;
        }

    </script>

    {% include  '../shared/patient_info_js.html' %}

{% endblock %}