 <!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="/p/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/p/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/p/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/p/static/js/bootstrap-datepicker.min.js"></script>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/p/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/p/static/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/p/static/css/bootstrap-datepicker3.min.css"/>
    <style type="text/css">
        .btn{font-size: 1.5rem; margin-top: 0.7rem}
        #wrapper, body {width: 100%;}
        #wrapper {max-width: 100rem;}
        .separate-line{height: 1px; border-top: 1px #ccc solid; width: 100%}
        .text-red{color: red}
    </style>

    {% block ContentHeader %}
            <title>SOMOS Health NYC | SOMOS</title>
    {% endblock %}
</head>
<body>
<div id="wrapper" class="container" >
    <div class="row">
            <div class="col-sm-4" style="text-align: center">
                <div class="logo-container ">

                        <img alt="SOMSO logo" src="/p/static/images/mso-somos.png" style="height:5.5rem;" />

                </div>
            </div>


            <div class="col-sm-3 dropdown">
                <button type="button" class="btn btn-link" data-toggle="dropdown">
                  For Mobile <i class="fa fa-sort-desc text-black-50" style="font-size: 2rem"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" target="_blank">iOS App</a>
                  <a class="dropdown-item" href="#" target="_blank">Android App</a>
                </div>
            </div>

            <div class="col-sm-3">
                <button class="btn btn-primary">Sign Up</button>

                 <button class="btn btn-info">Sign In</button>
            </div>

        <div class="col-sm-2 text-right dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              {{ Lang.current_lang }}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" onclick="changeLanguage('English')">English</a>
              <a class="dropdown-item" href="#" onclick="changeLanguage('Spanish')">España</a>
              <a class="dropdown-item" href="#" onclick="changeLanguage('Chinese')">中文</a>
            </div>
        </div>

    </div>

    {% block ContentMainContent %}
    {% endblock %}

<script type="text/javascript">
    function changeLanguage(lang) {
        var url = "/p/covid/?action=changelanguage&lang=" + lang;
        $.post(url, function () {
            window.location.href = '/p/covid/?rnd=' + Math.random();
        })

    }

</script>

</div>


{% block ContentScript %}


{% endblock %}


</body>
</html>